.banner_text{
     /* background-color: aqua;  */
    width:40%;
    position:absolute;
    bottom:10%;
    left:20%;
    text-align: start;
    color:white;

}
.banner_head{
    font-size: 30px;
    font-weight: 700;
}
img{
    width: 100%;
    background-size: cover;
    object-fit: cover;
   }
 